src/domains/gps-common/datafactory/pipelines/GPD_ZDT_BACKFILL_FUNCTION.json
{
  "name": "Until_Backfill_Not_Done",
  "type": "Until",
  "dependsOn": [
    {
      "activity": "Set_Initial_LowerBound",
      "dependencyConditions": [
        "Succeeded"
      ]
    }
  ],
  "userProperties": [],
  "typeProperties": {
    "expression": {
      "value": "@and(equals(variables('rowsUpdated'), 0), greater(variables('currentLowerBound'), int(pipeline().parameters.maxIdLimit)))",
      "type": "Expression"
    },
    "activities": [
      {
        "name": "call_backfill_function",
        "type": "Script",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "${linked_service_gpd}",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "Query",
              "text": {
                "value": "SELECT @{pipeline().parameters.functionName}(@{pipeline().parameters.batchSize}, @{variables('currentLowerBound')}, @{add(variables('currentLowerBound'), int(pipeline().parameters.increment))}) AS rowsUpdated;",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        }
      },
      {
        "name": "set_rowsUpdated",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "call_backfill_function",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "rowsUpdated",
          "value": {
            "value": "@int(activity('call_backfill_function').output.resultSets[0].rows[0].rowsUpdated)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "calc_Next_LowerBound",
        "type": "SetVariable",
        "description": "Calculate the next value in a temporary variable",
        "dependsOn": [
          {
            "activity": "set_rowsUpdated",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "tempLowerBound",
          "value": {
            "value": "@add(variables('currentLowerBound'), int(pipeline().parameters.increment))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "update_Current_LowerBound",
        "type": "SetVariable",
        "description": "Update the main variable",
        "dependsOn": [
          {
            "activity": "calc_Next_LowerBound",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "currentLowerBound",
          "value": {
            "value": "@variables('tempLowerBound')",
            "type": "Expression"
          }
        }
      }
    ],
    "timeout": "0.12:00:00"
  }
}
,
{
"name": "Set_Initial_LowerBound",
"type": "SetVariable",
"description": "Set the initial lower limit",
"dependsOn": [],
"userProperties": [],
"typeProperties": {
"variableName": "currentLowerBound",
"value": {
"value": "@int(pipeline().parameters.baseLimit)",
"type": "Expression"
}
}
}
