src/domains/gps-common/datafactory/pipelines/GPD_LIFECYCLE_MANAGEMENT.json

{
  "name": "Until_fetch_store_delete_items",
  "type": "Until",
  "dependsOn": [
    {
      "activity": "Compute_to_migrate",
      "dependencyConditions": [
        "Succeeded"
      ]
    }
  ],
  "userProperties": [],
  "typeProperties": {
    "expression": {
      "value": "@greaterOrEquals(variables('CurrentOffset'), min(pipeline().parameters.MaxAmountToMigrate, int(activity('Compute_to_migrate').output.resultSets[0].rows[0].count)))",
      "type": "Expression"
    },
    "activities": [
      {
        "name": "SetTempOffset",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Execute_GPD_LIFECYCLE_SCRIPT_EXECUTION",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "TempOffset",
          "value": {
            "value": "@add(variables('CurrentOffset'), min(pipeline().parameters.ChunkSize,int(activity('Execute_GPD_LIFECYCLE_SCRIPT_EXECUTION').output.pipelineReturnValue.pCount)))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetCurrentOffset",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetTempOffset",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrentOffset",
          "value": {
            "value": "@variables('TempOffset')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Execute_GPD_LIFECYCLE_SCRIPT_EXECUTION",
        "type": "ExecutePipeline",
        "dependsOn": [],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "GPD_LIFECYCLE_SCRIPT_EXECUTION",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "ChunkSize": {
              "value": "@pipeline().parameters.ChunkSize",
              "type": "Expression"
            },
            "CurrentOffset": {
              "value": "@variables('CurrentOffset')",
              "type": "Expression"
            }
          }
        }
      }
    ],
    "timeout": "0.12:00:00"
  }
},
{
"name": "Refresh_materialized_view_first_step",
"description": "Refresh materialized view",
"type": "Script",
"dependsOn": [],
"policy": {
"timeout": "0.12:00:00",
"retry": 3,
"retryIntervalInSeconds": 30,
"secureOutput": false,
"secureInput": false
},
"userProperties": [],
"linkedServiceName": {
"referenceName": "${linked_service_gpd}",
"type": "LinkedServiceReference"
},
"typeProperties": {
"scripts": [
{
"type": "Query",
"text": "CALL apd.refresh_archiving_buffer()"
}
],
"scriptBlockExecutionTimeout": "02:00:00"
}
},
{
"name": "Compute_to_migrate",
"type": "Script",
"dependsOn": [
{
"activity": "Refresh_materialized_view_first_step",
"dependencyConditions": [
"Succeeded"
]
}
],
"policy": {
"timeout": "0.12:00:00",
"retry": 3,
"retryIntervalInSeconds": 30,
"secureOutput": false,
"secureInput": false
},
"userProperties": [],
"linkedServiceName": {
"referenceName": "${linked_service_gpd}",
"type": "LinkedServiceReference"
},
"typeProperties": {
"scripts": [
{
"type": "Query",
"text": {
"value": "@concat('SELECT COUNT(*) \nFROM (\n    SELECT 1 \n    FROM apd.archiving_selection_buffer \n    LIMIT', string(pipeline().parameters.MaxAmountToMigrate),'\n) AS subquery;')",
"type": "Expression"
}
}
],
"scriptBlockExecutionTimeout": "02:00:00"
}
},
{
"name": "Refresh_materialized_view_last_step",
"description": "Refresh materialized view",
"type": "Script",
"dependsOn": [
{
"activity": "Until_fetch_store_delete_items",
"dependencyConditions": [
"Succeeded"
]
}
],
"policy": {
"timeout": "0.12:00:00",
"retry": 0,
"retryIntervalInSeconds": 30,
"secureOutput": false,
"secureInput": false
},
"userProperties": [],
"linkedServiceName": {
"referenceName": "${linked_service_gpd}",
"type": "LinkedServiceReference"
},
"typeProperties": {
"scripts": [
{
"type": "Query",
"text": "CALL apd.refresh_archiving_buffer()"
}
],
"scriptBlockExecutionTimeout": "02:00:00"
}
}

