src/domains/observability/datafactory/pipelines/PDND_KPI_DASPO.json
{
    "name": "QueryDASPO",
    "type": "Lookup",
    "dependsOn": [
        {
            "activity": "StartDate",
            "dependencyConditions": [
                "Succeeded"
            ]
        }
    ],
    "policy": {
        "timeout": "0.12:00:00",
        "retry": 0,
        "retryIntervalInSeconds": 30,
        "secureOutput": false,
        "secureInput": false
    },
    "userProperties": [],
    "typeProperties": {
        "source": {
            "type": "AzureDataExplorerSource",
            "query": {
                "value": "let start=datetime('@{variables('startDate')}');\nlet end=datetime('@{variables('endDate')}');\n \n\nKPI_TPSPO_DASPO\n| where ACTIVATE_REQ between (start .. end)\n| extend _d = parse_json(DETAILED_INFO)\n| extend TOKEN_SCADUTO=toint(_d.TOKEN_SCADUTO)\n| extend SPO_ASSENTE=toint(_d.SPO_ASSENTE)\n| extend TOTALE_CHIAMATE=toint(_d.TOTALE_CHIAMATE)\n| summarize  SPO_ASSENTE=sum(SPO_ASSENTE), TOTALE_CHIAMATE=sum(TOTALE_CHIAMATE) by   PSP,INTERMEDIARIO_PSP\n| join kind=inner PSP on $left.PSP == $right.ID_PSP\n| join kind=inner INTERMEDIARI_PSP on $left.INTERMEDIARIO_PSP == $right.ID_INTERMEDIARIO_PSP\n| extend PERC_KPI=(SPO_ASSENTE * 100.00) / TOTALE_CHIAMATE\n| extend PERC_KPI=round( case(isnan(PERC_KPI), 0.00, PERC_KPI),2)\n| extend KPI_THRESHOLD=2.0\n| extend  KPI_ID=\"DASPO#8\"\n| extend KPI_OUTCOME = iff(PERC_KPI > KPI_THRESHOLD,\"KO\",\"OK\")\n| project KPI_ID, KPI_THRESHOLD, start , end ,ID_PSP,PSP=iif(DESCRIZIONE <> '' , DESCRIZIONE,RAGIONE_SOCIALE) ,ID_INTERMEDIARIO_PSP, INTERMEDIARIO_DESCR, PERC_KPI, TOTALE_CHIAMATE, SPO_ASSENTE,KPI_OUTCOME \n| project  pack_all()\n",
                "type": "Expression"
            },
            "queryTimeout": "01:00:00",
            "noTruncation": true
        },
        "dataset": {
            "referenceName": "SMO_ReEvent_DataSet",
            "type": "DatasetReference"
        },
        "firstRowOnly": false
    }
},
{
    "name": "EndDate",
    "description": "Ricavo la data fine per prendere la mensilità\n",
    "type": "SetVariable",
    "dependsOn": [],
    "policy": {
        "secureOutput": false,
        "secureInput": false
    },
    "userProperties": [],
    "typeProperties": {
        "variableName": "endDate",
        "value": {
            "value": "@addDays(startOfMonth(convertFromUtc(pipeline().TriggerTime, 'W. Europe Standard Time')), -1)",
            "type": "Expression"
        }
    }
},
{
    "name": "StartDate",
    "description": "mi calcolo la data di inzio della query mese precedente primo giorno",
    "type": "SetVariable",
    "dependsOn": [
        {
            "activity": "EndDate",
            "dependencyConditions": [
                "Succeeded"
            ]
        }
    ],
    "policy": {
        "secureOutput": false,
        "secureInput": false
    },
    "userProperties": [],
    "typeProperties": {
        "variableName": "startDate",
        "value": {
            "value": "@startOfMonth(variables('endDate'))",
            "type": "Expression"
        }
    }
},
{
    "name": "ForEachKPI",
    "type": "ForEach",
    "dependsOn": [
        {
            "activity": "QueryDASPO",
            "dependencyConditions": [
                "Succeeded"
            ]
        }
    ],
    "userProperties": [],
    "typeProperties": {
        "items": {
            "value": "@activity('QueryDASPO').output.value",
            "type": "Expression"
        },
        "isSequential": true,
        "activities": [
            {
                "name": "GetKPI",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "item",
                    "value": {
                        "value": "@concat(item().KPI, ',')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ConcatKPI",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetKPI",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "jsonChunk",
                    "value": {
                        "value": "@concat(variables('JsonResult'), variables('Item'))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SetJsonResult",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "ConcatKPI",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "jsonResult",
                    "value": {
                        "value": "@variables('JsonChunk')",
                        "type": "Expression"
                    }
                }
            }
        ]
    }
},
{
    "name": "CheckResult",
    "type": "IfCondition",
    "dependsOn": [
        {
            "activity": "ForEachKPI",
            "dependencyConditions": [
                "Succeeded"
            ]
        }
    ],
    "userProperties": [],
    "typeProperties": {
        "expression": {
            "value": "@greater(length(variables('JsonResult')), 0)",
            "type": "Expression"
        },
        "ifTrueActivities": [
            {
                "name": "WriteEvhub",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "url": {
                        "value": "@pipeline().globalParameters.evhBaseUrl",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "body": {
                        "value": "@json(concat('[', variables('JsonResult'), ']'))",
                        "type": "Expression"
                    },
                    "authentication": {
                        "type": "MSI",
                        "resource": {
                            "value": "@concat(pipeline().globalParameters.evhBaseUrl, '/quality-improvement-psp-kpi/messages')",
                            "type": "Expression"
                        }
                    }
                }
            }
        ]
    }
}